In [19]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("homeprices.csv")
df

   floors  age  rooms  area   price
0       1    4      2  2600  550000
1       2    5      3  3000  565000
2       2    2      3  3200  610000
3       3    1      4  3600  680000
4       3    1      5  4000  725000

In [31]:
X = df[['floors','age','rooms', 'area']]  # Features
y = df['price']  # Target variable

In [39]:
mean = X.mean(axis=0)
std = X.std(axis=0)

In [44]:
X = (X - mean) / std #feature scaling (z-score Normalisation)

In [45]:
# Add bias term (intercept) to features
X = np.c_[np.ones(X.shape[0]), X]

In [46]:
# Initialize parameters (weights) randomly
np.random.seed(0)
theta = np.random.rand(X.shape[1])

In [47]:
# Define cost function (Mean Squared Error)
def cost_function(X, y, theta):
    m = len(y)
    predictions = np.dot(X, theta)
    cost = (1 / (2 * m)) * np.sum(np.square(predictions - y))
    return cost

In [48]:
# Define gradient descent function
def gradient_descent(X, y, theta, learning_rate, iterations):
    m = len(y)
    cost_history = []

    for _ in range(iterations):
        predictions = np.dot(X, theta)
        errors = predictions - y
        theta -= (1 / m) * learning_rate * np.dot(X.T, errors)
        cost = cost_function(X, y, theta)
        cost_history.append(cost)

    return theta, cost_history

In [51]:
# Set hyperparameters
learning_rate = 0.01
iterations = 1000

In [52]:
# Perform gradient descent to optimize parameters (weights)
theta, cost_history = gradient_descent(X, y, theta, learning_rate, iterations)

In [64]:
test_data = np.array([[2200, 3, 2, 6],   # Sample 1
                      [2800, 4, 2, 4],   # Sample 2
                      [1900, 2, 1, 9]])  # Sample 3

In [65]:
# Standardize new data using mean and standard deviation from original data
test_data = (test_data - mean) / std

ValueError: Length of values (3) does not match length of index (4)

In [66]:
# Add bias term to new data
test_data = np.c_[np.ones(test_data.shape[0]), test_data]

In [67]:
# Predict prices for new data
predicted_prices = np.dot(test_data, theta)

In [63]:
print("Predicted prices for new data:")
for i, price in enumerate(predicted_prices):
    print(f"Sample {i+1}: ${price:.2f}")

Predicted prices for new data:
Sample 1: $467076.94
Sample 2: $484778.06
Sample 3: $521946.41
Sample 4: $546186.83
Sample 5: $546186.42
Sample 6: $555919.83
Sample 7: $589894.19
Sample 8: $518751.69
Sample 9: $589894.71
Sample 10: $465310.06
Sample 11: $732179.56
Sample 12: $741913.56
Sample 13: $680504.42

In [16]:
p = reg.predict(test_data)
test_data["prices"] = p
test_data.head()

   rooms  area         prices
0      1  1000  240000.000000
1      2  1500  309333.333333
2      3  2300  439666.666667
3      4  3540  659466.666667
4      4  4120  777400.000000

In [17]:
test_data.to_csv("prediction.csv")